@model LumoTrack.DTO.ChangePasswordDTO

@{
    ViewBag.Title = "View";
}

<h2>Cambiar contraseña</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />


    @Html.HiddenFor(x => x.UserID)

    <div class="form-group">
        @Html.Label("Correo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "max-width:380px", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <br />
            <em class="text-danger " style="color:#708090">Es necesario que la contraseña contenga: Mayúscula, minúscula, número y símbolo. Con al menos 8 caracteres. <br />Ejemplo: Siguetucamion@123</em>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Confirmar contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="control-label" style="text-align:center">
            <input type="button" id="cancelBtn" value="Cancelar" class="btn btn-cancel" style="margin: 0 1px; width:85px" />
            <input type="submit" value="Guardar" class="btn btn-login" style="margin: 0 0 0 10px;" />
        </div>
    </div>

</div>
}

@section Scripts {
    <script type="text/javascript">
        $('#cancelBtn').click(function () {
        document.location = '@Url.Action("Index","User")';
    });

    </script>
}